html {
    height:100%;
}

body {
    min-height:100%;
    margin:0;
    background-color: #45b4f5;
    /*text-align: center;*/
    font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 50px; 
}

.pybox {
      background-color: #57657a;
      width: 700px;
      height: 800px;
      text-align: center;
      margin: 0 auto;
      padding-top: 100px;
    }
  
}

main { 
  height: 1%;
}

footer {
  height: 50px;
  
}

/**** Trick: ****/

body {
  display: table;
  width: 100%; 
}

body > footer {
   display: table-row;
}
h1 {
   text-decoration: underline;
}
